In [1]:
#import twint
import pandas as pd
pd.options.display.max_columns = 100
from glob import glob
import os

import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import re

import string
re.compile('<title>(.*)</title>')
import nest_asyncio
nest_asyncio.apply()


from itertools import chain
import collections
from collections import Counter

In [2]:
phase_1 = pd.read_csv(r'C:\Users\14708\Desktop\New folder\tweets_1.csv')
phase_2 = pd.read_csv(r'C:\Users\14708\Desktop\New folder\tweets_2.csv')
phase_3 = pd.read_csv(r'C:\Users\14708\Desktop\New folder\tweets_3.csv')

In [3]:
tweets_1 = phase_1[['tweet']]
tweets_2 = phase_2[['tweet']]
tweets_3 = phase_3[['tweet']]

In [4]:
tweets_1['tweet'] = tweets_1['tweet'].astype(str)
tweets_1['tweet'] = tweets_1['tweet'].map(lambda x: re.sub('[,()#:\.!?@/]', '', x))
tweets_1['tweet'] = tweets_1['tweet'].map(lambda x:x.lower())
tweets_1['tweet'] = tweets_1['tweet'].map(lambda x:re.sub('[0-9\n]','',x))
tweets_1['tweet'] = tweets_1['tweet'].map(lambda x:re.sub( '[^a-z0-9]', ' ', x))
tweets_1

<ipython-input-4-4c07039dd817>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['tweet'] = tweets_1['tweet'].astype(str)
<ipython-input-4-4c07039dd817>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['tweet'] = tweets_1['tweet'].map(lambda x: re.sub('[,()#:\.!?@/]', '', x))
<ipython-input-4-4c07039dd817>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['tweet'] = tweets_1['tweet'].map(lambda x:x.lower())
<ipython-input-4-4c07039dd817>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['tweet'] = tweets_1['tweet'].map(lambda x:re.sub('[0-9\n]','',x))
<ipython-input-4-4c07039dd817>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['tweet'] = tweets_1['tweet'].map(lambda x:re.sub( '[^a-z0-9]', ' ', x))

                                                  tweet
0     markov chain algorithm to delete this sheet yo...
1     brenctzen everytime i post a video it literall...
2     hasanshahbaz twitter needs a better sign up al...
3      moscow liga recap     u      player of the da...
4     i watch like one mde vid a year and it fucks u...
...                                                 ...
6694  verifying validating the clinical usefulness o...
6695  today may   pm et sciartexchange facebook lear...
6696  follow us on linkedin  httpstcoofvymajsym wear...
6697  asu opened the weartech center a first of its ...
6698                                                nan

[6699 rows x 1 columns]

In [5]:
tweets_2['tweet'] = tweets_2['tweet'].astype(str)
tweets_2['tweet'] = tweets_2['tweet'].map(lambda x: re.sub('[,()#:\.!?@/]', '', x))
tweets_2['tweet'] = tweets_2['tweet'].map(lambda x:x.lower())
tweets_2['tweet'] = tweets_2['tweet'].map(lambda x:re.sub('[0-9\n]','',x))
tweets_2['tweet'] = tweets_2['tweet'].map(lambda x:re.sub( '[^a-z0-9]', ' ', x))
tweets_2

<ipython-input-5-8cff7519b286>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['tweet'] = tweets_2['tweet'].astype(str)
<ipython-input-5-8cff7519b286>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['tweet'] = tweets_2['tweet'].map(lambda x: re.sub('[,()#:\.!?@/]', '', x))
<ipython-input-5-8cff7519b286>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['tweet'] = tweets_2['tweet'].map(lambda x:x.lower())
<ipython-input-5-8cff7519b286>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['tweet'] = tweets_2['tweet'].map(lambda x:re.sub('[0-9\n]','',x))
<ipython-input-5-8cff7519b286>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['tweet'] = tweets_2['tweet'].map(lambda x:re.sub( '[^a-z0-9]', ' ', x))

                                                  tweet
0     geoffcmason greencpa lisaformaine strategema w...
1     a late night one  at least the user im still f...
2     with many federal employees working from home ...
3      itox will run over   imo  ai iiot cybersecuri...
4     twitter is letting people threaten joe biden s...
...                                                 ...
6918  fahrni windows on the desktop ios on mobile i ...
6919  i made a web based particle emitter well a pag...
6920  tour builder is a web based tool for storytell...
6921  pandemic or not technology impacts the way we ...
6922                                                nan

[6923 rows x 1 columns]

In [6]:
tweets_3['tweet'] = tweets_3['tweet'].astype(str)
tweets_3['tweet'] = tweets_3['tweet'].map(lambda x: re.sub('[,()#:\.!?@/]', '', x))
tweets_3['tweet'] = tweets_3['tweet'].map(lambda x:x.lower())
tweets_3['tweet'] = tweets_3['tweet'].map(lambda x:re.sub('[0-9\n]','',x))
tweets_3['tweet'] = tweets_3['tweet'].map(lambda x:re.sub( '[^a-z0-9]', ' ', x))
tweets_3

<ipython-input-6-75104e653128>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['tweet'] = tweets_3['tweet'].astype(str)
<ipython-input-6-75104e653128>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['tweet'] = tweets_3['tweet'].map(lambda x: re.sub('[,()#:\.!?@/]', '', x))
<ipython-input-6-75104e653128>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['tweet'] = tweets_3['tweet'].map(lambda x:x.lower())
<ipython-input-6-75104e653128>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['tweet'] = tweets_3['tweet'].map(lambda x:re.sub('[0-9\n]','',x))
<ipython-input-6-75104e653128>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['tweet'] = tweets_3['tweet'].map(lambda x:re.sub( '[^a-z0-9]', ' ', x))

                                                  tweet
0     hashgraphguide hedera  to this effect we emplo...
1     threddyrex as a dyed in the wool c programmer ...
2     linorulli catholicguyshow it s because they su...
3     itssan just to let everyone know that dislikin...
4     i looked up online therapy one time and i m no...
...                                                 ...
6142  with the smart sensor platform   and the intui...
6143  with covid  completely shifting the education ...
6144  still using paper or spreadsheets for your clu...
6145  sariazout muting newsletters ignoring most pod...
6146                                                nan

[6147 rows x 1 columns]

In [7]:
tweets_1['tokenized_tweet'] = tweets_1.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
stop_1 = set(stopwords.words('english'))
tweets_1['stopwords_removed'] = tweets_1['tokenized_tweet'].apply(lambda y: [item.lower() for item in y if item.lower() not in stop_1])
punc = string.punctuation
tweets_1['punctuations_removed'] = tweets_1['stopwords_removed'].apply(lambda x: [word for word in x if word not in punc])
digits = string.digits
tweets_1['punctuations_removed'] = tweets_1['punctuations_removed'].apply(lambda x: [word for word in x if word not in digits])
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
tweets_1 ['Lemmatized_tweets']=''
for i in range(0,len(tweets_1)):
    tweets_1['Lemmatized_tweets'].iloc[i]=[lemmatizer.lemmatize(x) for x in tweets_1['punctuations_removed'].iloc[i]]
nouns = []
tweets_1 ['Noun_Extracted_tweets']=''
for i in range (len(tweets_1['Lemmatized_tweets'])):
    for (word, pos) in nltk.pos_tag(tweets_1['Lemmatized_tweets'].iloc[i]):
        if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
            nouns.append(word)
    tweets_1['Noun_Extracted_tweets'].iloc[i] = nouns
    nouns = []
    
tweets_1

<ipython-input-7-9f33a60559d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['tokenized_tweet'] = tweets_1.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
<ipython-input-7-9f33a60559d3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['stopwords_removed'] = tweets_1['tokenized_tweet'].apply(lambda y: [item.lower() for item in y if item.lower() not in stop_1])
<ipython-input-7-9f33a60559d3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['punctuations_removed'] = tweets_1['stopwords_removed'].apply(lambda x: [word for word in x if word not in punc])
<ipython-input-7-9f33a60559d3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1['punctuations_removed'] = tweets_1['punctuations_removed'].apply(lambda x: [word for word in x if word not in digits])
<ipython-input-7-9f33a60559d3>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_1 ['Lemmatized_tweets']=''
C:\Users\14708\Anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,tweet,tokenized_tweet,stopwords_removed,punctuations_removed,Lemmatized_tweets,Noun_Extracted_tweets
0,markov chain algorithm to delete this sheet yo...,"[markov, chain, algorithm, to, delete, this, s...","[markov, chain, algorithm, delete, sheet, may,...","[markov, chain, algorithm, delete, sheet, may,...","[markov, chain, algorithm, delete, sheet, may,...","[markov, chain, sheet, generate, text, generat..."
1,brenctzen everytime i post a video it literall...,"[brenctzen, everytime, i, post, a, video, it, ...","[brenctzen, everytime, post, video, literally,...","[brenctzen, everytime, post, video, literally,...","[brenctzen, everytime, post, video, literally,...","[everytime, post, video, algorithm, lmao]"
2,hasanshahbaz twitter needs a better sign up al...,"[hasanshahbaz, twitter, needs, a, better, sign...","[hasanshahbaz, twitter, needs, better, sign, a...","[hasanshahbaz, twitter, needs, better, sign, a...","[hasanshahbaz, twitter, need, better, sign, al...","[hasanshahbaz, twitter, sign, ban, people, acc..."
3,moscow liga recap u player of the da...,"[moscow, liga, recap, u, player, of, the, day,...","[moscow, liga, recap, u, player, day, menshiko...","[moscow, liga, recap, u, player, day, menshiko...","[moscow, liga, recap, u, player, day, menshiko...","[moscow, liga, recap, player, day, mention, sk..."
4,i watch like one mde vid a year and it fucks u...,"[i, watch, like, one, mde, vid, a, year, and, ...","[watch, like, one, mde, vid, year, fucks, yout...","[watch, like, one, mde, vid, year, fucks, yout...","[watch, like, one, mde, vid, year, fuck, youtu...","[watch, mde, year, month]"
...,...,...,...,...,...,...
6694,verifying validating the clinical usefulness o...,"[verifying, validating, the, clinical, usefuln...","[verifying, validating, clinical, usefulness, ...","[verifying, validating, clinical, usefulness, ...","[verifying, validating, clinical, usefulness, ...","[technology, httpstcofypewuizg, theofficialacm]"
6695,today may pm et sciartexchange facebook lear...,"[today, may, pm, et, sciartexchange, facebook,...","[today, may, pm, et, sciartexchange, facebook,...","[today, may, pm, et, sciartexchange, facebook,...","[today, may, pm, et, sciartexchange, facebook,...","[today, sciartexchange, facebook, learn, garme..."
6696,follow us on linkedin httpstcoofvymajsym wear...,"[follow, us, on, linkedin, httpstcoofvymajsym,...","[follow, us, linkedin, httpstcoofvymajsym, wea...","[follow, us, linkedin, httpstcoofvymajsym, wea...","[follow, u, linkedin, httpstcoofvymajsym, wear...","[linkedin, httpstcoofvymajsym, wearabletech, w..."
6697,asu opened the weartech center a first of its ...,"[asu, opened, the, weartech, center, a, first,...","[asu, opened, weartech, center, first, kind, w...","[asu, opened, weartech, center, first, kind, w...","[asu, opened, weartech, center, first, kind, w...","[asu, center, kind, technology, research, cent..."
6698,nan,[nan],[nan],[nan],[nan],[nan]

In [8]:
tweets_2['tokenized_tweet'] = tweets_2.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
stop_2 = set(stopwords.words('english'))
tweets_2['stopwords_removed'] = tweets_2['tokenized_tweet'].apply(lambda y: [item.lower() for item in y if item.lower() not in stop_2])
punc = string.punctuation
tweets_2['punctuations_removed'] = tweets_2['stopwords_removed'].apply(lambda x: [word for word in x if word not in punc])
digits = string.digits
tweets_2['punctuations_removed'] = tweets_2['punctuations_removed'].apply(lambda x: [word for word in x if word not in digits])
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
tweets_2 ['Lemmatized_tweets']=''
for i in range(0,len(tweets_2)):
    tweets_2['Lemmatized_tweets'].iloc[i]=[lemmatizer.lemmatize(x) for x in tweets_2['punctuations_removed'].iloc[i]]
nouns = []
tweets_2 ['Noun_Extracted_tweets']=''
for i in range (len(tweets_2['Lemmatized_tweets'])):
    for (word, pos) in nltk.pos_tag(tweets_2['Lemmatized_tweets'].iloc[i]):
        if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
            nouns.append(word)
    tweets_2['Noun_Extracted_tweets'].iloc[i] = nouns
    nouns = []

tweets_2

<ipython-input-8-5365e2d2b515>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['tokenized_tweet'] = tweets_2.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
<ipython-input-8-5365e2d2b515>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['stopwords_removed'] = tweets_2['tokenized_tweet'].apply(lambda y: [item.lower() for item in y if item.lower() not in stop_2])
<ipython-input-8-5365e2d2b515>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['punctuations_removed'] = tweets_2['stopwords_removed'].apply(lambda x: [word for word in x if word not in punc])
<ipython-input-8-5365e2d2b515>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2['punctuations_removed'] = tweets_2['punctuations_removed'].apply(lambda x: [word for word in x if word not in digits])
<ipython-input-8-5365e2d2b515>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_2 ['Lemmatized_tweets']=''
C:\Users\14708\Anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,tweet,tokenized_tweet,stopwords_removed,punctuations_removed,Lemmatized_tweets,Noun_Extracted_tweets
0,geoffcmason greencpa lisaformaine strategema w...,"[geoffcmason, greencpa, lisaformaine, stratege...","[geoffcmason, greencpa, lisaformaine, stratege...","[geoffcmason, greencpa, lisaformaine, stratege...","[geoffcmason, greencpa, lisaformaine, stratege...","[geoffcmason, greencpa, lisaformaine, stratege..."
1,a late night one at least the user im still f...,"[a, late, night, one, at, least, the, user, im...","[late, night, one, least, user, im, still, fig...","[late, night, one, least, user, im, still, fig...","[late, night, one, least, user, im, still, fig...","[night, user, im, root, pwn, htb, cybersecurit..."
2,with many federal employees working from home ...,"[with, many, federal, employees, working, from...","[many, federal, employees, working, home, cybe...","[many, federal, employees, working, home, cybe...","[many, federal, employee, working, home, cyber...","[employee, home, cybersecurity, look, beef, de..."
3,itox will run over imo ai iiot cybersecuri...,"[itox, will, run, over, imo, ai, iiot, cyberse...","[itox, run, imo, ai, iiot, cybersecurity, bloc...","[itox, run, imo, ai, iiot, cybersecurity, bloc...","[itox, run, imo, ai, iiot, cybersecurity, bloc...","[itox, imo, ai, iiot, cybersecurity, marketing..."
4,twitter is letting people threaten joe biden s...,"[twitter, is, letting, people, threaten, joe, ...","[twitter, letting, people, threaten, joe, bide...","[twitter, letting, people, threaten, joe, bide...","[twitter, letting, people, threaten, joe, bide...","[twitter, people, cybersecurity, expert, smart..."
...,...,...,...,...,...,...
6918,fahrni windows on the desktop ios on mobile i ...,"[fahrni, windows, on, the, desktop, ios, on, m...","[fahrni, windows, desktop, ios, mobile, happy,...","[fahrni, windows, desktop, ios, mobile, happy,...","[fahrni, window, desktop, io, mobile, happy, f...","[fahrni, window, desktop, io, mobile, web, agg..."
6919,i made a web based particle emitter well a pag...,"[i, made, a, web, based, particle, emitter, we...","[made, web, based, particle, emitter, well, pa...","[made, web, based, particle, emitter, well, pa...","[made, web, based, particle, emitter, well, pa...","[web, particle, get, effect, stream, rip, bitr..."
6920,tour builder is a web based tool for storytell...,"[tour, builder, is, a, web, based, tool, for, ...","[tour, builder, web, based, tool, storytelling...","[tour, builder, web, based, tool, storytelling...","[tour, builder, web, based, tool, storytelling...","[tour, builder, web, tool, text, photo, video,..."
6921,pandemic or not technology impacts the way we ...,"[pandemic, or, not, technology, impacts, the, ...","[pandemic, technology, impacts, way, interact,...","[pandemic, technology, impacts, way, interact,...","[pandemic, technology, impact, way, interact, ...","[technology, way, interact, business, gpn, opp..."
6922,nan,[nan],[nan],[nan],[nan],[nan]

In [9]:
tweets_3['tokenized_tweet'] = tweets_3.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
stop_3 = set(stopwords.words('english'))
tweets_3['stopwords_removed'] = tweets_3['tokenized_tweet'].apply(lambda y: [item.lower() for item in y if item.lower() not in stop_3])
punc = string.punctuation
tweets_3['punctuations_removed'] = tweets_3['stopwords_removed'].apply(lambda x: [word for word in x if word not in punc])
digits = string.digits
tweets_3['punctuations_removed'] = tweets_3['punctuations_removed'].apply(lambda x: [word for word in x if word not in digits])
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
tweets_3 ['Lemmatized_tweets']=''
for i in range(0,len(tweets_3)):
    tweets_3['Lemmatized_tweets'].iloc[i]=[lemmatizer.lemmatize(x) for x in tweets_3['punctuations_removed'].iloc[i]]
nouns = []
tweets_3 ['Noun_Extracted_tweets']=''
for i in range (len(tweets_3['Lemmatized_tweets'])):
    for (word, pos) in nltk.pos_tag(tweets_3['Lemmatized_tweets'].iloc[i]):
        if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
            nouns.append(word)
    tweets_3['Noun_Extracted_tweets'].iloc[i] = nouns
    nouns = []   
    
tweets_3

<ipython-input-9-7554da8ad8d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['tokenized_tweet'] = tweets_3.apply(lambda row: nltk.word_tokenize(row['tweet']), axis=1)
<ipython-input-9-7554da8ad8d7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['stopwords_removed'] = tweets_3['tokenized_tweet'].apply(lambda y: [item.lower() for item in y if item.lower() not in stop_3])
<ipython-input-9-7554da8ad8d7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['punctuations_removed'] = tweets_3['stopwords_removed'].apply(lambda x: [word for word in x if word not in punc])
<ipython-input-9-7554da8ad8d7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3['punctuations_removed'] = tweets_3['punctuations_removed'].apply(lambda x: [word for word in x if word not in digits])
<ipython-input-9-7554da8ad8d7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_3 ['Lemmatized_tweets']=''
C:\Users\14708\Anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,tweet,tokenized_tweet,stopwords_removed,punctuations_removed,Lemmatized_tweets,Noun_Extracted_tweets
0,hashgraphguide hedera to this effect we emplo...,"[hashgraphguide, hedera, to, this, effect, we,...","[hashgraphguide, hedera, effect, employ, speci...","[hashgraphguide, hedera, effect, employ, speci...","[hashgraphguide, hedera, effect, employ, speci...","[hashgraphguide, hedera, effect, type, paralle..."
1,threddyrex as a dyed in the wool c programmer ...,"[threddyrex, as, a, dyed, in, the, wool, c, pr...","[threddyrex, dyed, wool, c, programmer, writte...","[threddyrex, dyed, wool, c, programmer, writte...","[threddyrex, dyed, wool, c, programmer, writte...","[threddyrex, programmer, replacement, algorith..."
2,linorulli catholicguyshow it s because they su...,"[linorulli, catholicguyshow, it, s, because, t...","[linorulli, catholicguyshow, surveyed, kyle, d...","[linorulli, catholicguyshow, surveyed, kyle, d...","[linorulli, catholicguyshow, surveyed, kyle, d...","[linorulli, catholicguyshow, doug, algorithm]"
3,itssan just to let everyone know that dislikin...,"[itssan, just, to, let, everyone, know, that, ...","[itssan, let, everyone, know, disliking, video...","[itssan, let, everyone, know, disliking, video...","[itssan, let, everyone, know, disliking, video...",[everyone]
4,i looked up online therapy one time and i m no...,"[i, looked, up, online, therapy, one, time, an...","[looked, online, therapy, one, time, sure, ads...","[looked, online, therapy, one, time, sure, ads...","[looked, online, therapy, one, time, sure, ad,...","[online, therapy, time, ad, sign, help, thing]"
...,...,...,...,...,...,...
6142,with the smart sensor platform and the intui...,"[with, the, smart, sensor, platform, and, the,...","[smart, sensor, platform, intuitive, web, base...","[smart, sensor, platform, intuitive, web, base...","[smart, sensor, platform, intuitive, web, base...","[sensor, platform, web, get, capability, phase..."
6143,with covid completely shifting the education ...,"[with, covid, completely, shifting, the, educa...","[covid, completely, shifting, education, indus...","[covid, completely, shifting, education, indus...","[covid, completely, shifting, education, indus...","[covid, education, industry, format, trend, im..."
6144,still using paper or spreadsheets for your clu...,"[still, using, paper, or, spreadsheets, for, y...","[still, using, paper, spreadsheets, club, char...","[still, using, paper, spreadsheets, club, char...","[still, using, paper, spreadsheet, club, chari...","[paper, spreadsheet, charity, membership, memb..."
6145,sariazout muting newsletters ignoring most pod...,"[sariazout, muting, newsletters, ignoring, mos...","[sariazout, muting, newsletters, ignoring, pod...","[sariazout, muting, newsletters, ignoring, pod...","[sariazout, muting, newsletter, ignoring, podc...","[sariazout, newsletter, podcasts, time, web, l..."
6146,nan,[nan],[nan],[nan],[nan],[nan]

In [10]:
add_stopwords1 = {"help", "year", "hit", "better", "week", "est", "et", "way", "even", "modeling", "real", "could", "well",
"community", "never", "great", "diagnostic", "dans", "much", "today", "many", "capacity", "analytics", "home", "feel", "thank", 
"high", "support", "mhealth", "httpstcolycabrr", "best", "rt", "management", "still", "pra", "coronavirus", "hello","record",
"le", "que", "medical", "surveillance", "el", "online", "eicu", "digital", "test", "digital", "work", "good", "'s", "=01", 
"ect" , "''" , "``" , "subject" , "enron" , "http" , "cc", "=20" , "e" , "risk", "improve", "learn", "flow", "going", "algorithm",
"3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=", "mais", "think", "mohealth", "public",
"=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d", "10" , "=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=",
"'ll" , "ees" , "'d" , "dbcaps97data" , "'m" , "2/2/2002" , "nd=0604" , "j" , "fw", "pandemic", "check",
"st" , "06/30/2000" , "2/1/2002" , "fri" , "ct" , "l" , "'ve" , "ena" , "inc." , "pt",
"..." , "=09" , "imceanotes-erin+20richardson+20+3cerichardson+40sarofim+2ecom+3e+40e" ,
"steffes/na/enron" , "steffes/na/enron" , "st." , "eb" , "pm" , "n't" , "2a04" , "2001" , "enron.com"
'delete','sheet','may','want','//t.co/v46WvaClFC','Te_Papa','desbfit','abc13houston','Fitbit','//t.co/6HosrKWVRa','WHEW','carmodel','feminists','MnDPS_MSP','CAEHomelessness',
'//t.co/mBmBkmJaiR','//t.co/bruuMFwcOD','Bij','JamesWallmeup','دعم','//t.co/YtcnYfoUyL','iBox','payer','DoingMore4OC','NAF','NCAA','.com','WHODjibouti',
'//t.co/qMjvuQffuM','1_brainyyy','⭕️Take','//t.co/aaF71PHv3X','8500','yoyoel','ノ','hoshinoona','aliens','EPAL','//t.co/SCNEnb6iV7','Une','//t.co/6DRmyhYSOg',
'301-600-1506.','MrDtAFC','//t.co/zCZug3MQlN','//t.co/dKbxVHPsik','06.39','Col·lapse','mind…','//t.co/FjWCPRLiXa','//t.co/i21YoKva5I',"'jigsaw'",'//t.co/65JUgEhRQE',
'//t.co/TZpKoWb25H','10/2','فدوة','//t.co/yUgFHc2dXT','//t.co/B0i8Bag6QI','//t.co/giv5nWtR7s','//t.co/QIrKc2CON5','//t.co/SM9W2a0jg1','pts','//t.co/4r9MKbEFZ8',
'//t.co/kCnhzB8EXK','//t.co/SkywBu1lCG','//t.co/N5SZsMSYdS','2020-06-28','793,411.67','//t.co/4o9CkPHo8d','//t.co/PgtfS1u8Ts','LD','//t.co/f1y1cOT4JL',
'//t.co/BBLT79cP92','bon','//t.co/BBLT79cP92','//t.co/m6ymYVBwNa','app/browser','del','12/13','-via','عبر','op','الخاص','التابعة','slo','2-year','33'
'الفطر','contaminated🤦\u200d♀️','//t.co/uhNTa7tiWE','call...','الحبل','witch','//t.co/iIKMzII3hp','//t.co/ZFdyj2RNXV','تجهز','CHOOZ','لهرمون','XL','tabib1online',
'lomuntu','🙏🏻','//t.co/FpK7srDG6L','GPUs','//t.co/wGr8FARDnt','HIMSSAP','//t.co/eQWmOQRFHx','nya','//t.co/1FVMHg0iH4','11:30:02','5.12','_WWSD_','KIAA1217',
'//t.co/yBHgAHuaAZ','//t.co/MbPJnN7jeM','//t.co/WreWejDRta','gt','//t.co/qpxi4Wvtzi','IHadToSaySmtg','食べたい','PoS','31st','vi','//t.co/4rKRU0DPJ4',
'الدين','이','فيروس_كورونا','intl','F_D_KB','PushpaShivaram','//t.co/OAiYqcY3jS','wphillips49','Osborn','👏👏','escritório','ICECcancer',"''",'تكنيكال',
'//t.co/5w7NoVS5d9','//t.co/WuuKFtqM2b','CH4','//t.co/gfHMy7DOGm','CHEX_Org','//t.co/JZB6Srstfl','//t.co/ceJo84uTbE','//t.co/5yqJFchSj3','JosephCosgrove7',
'//t.co/8Ud5VOPxih','🙃😂','Nibiru024','46H','//t.co/KVeWbxB5Tz','HR2339','Frølund','MWA/MIWC','773-3760','maybe','إصابة','//t.co/RxeIJvWpZm',"'quiet",
'//t.co/MNEwX41VcT','//t.co/jtjSbUuUdC','leelo','//t.co/tATJhcT8Wa','podrás','mc93823939','cbs','toptrader101','OnQuorum','📸','//t.co/cuXatP3cft','//t.co/ALepWlrIp7','doodly_official…',
'ano','›','الشكر','PHCA','//t.co/gAXaNJZokQ','IN14-21DAYS.HE','//t.co/zqfk8IBNrs','4/28','//t.co/5ntCB6YpNh','tipo','//t.co/GmZarlv7Bw','CHI','//t.co/EAv5ShTtJ5','//t.co/9LGAqM0ePB',
'DianaAtwine','FinTech…','LK-05','Maths','//t.co/lR4NTT6ROc','//t.co/svrDN8Fj1e','CSTE','セブン','//t.co/Pl8JYGVZne','1.17','台湾、マスク購入を実名制に','الانبار',
'//t.co/DCTC53Z5wm','//t.co/J0px5qKbFe','ABA','//t.co/QymBvyioCe','//t.co/eYTuhbMUkg','//t.co/HWR6SW0ebL','//t.co/zC8C0FXFPQ','//t.co/e8lSxmERyZ','المختبرية',
'2/Any','//t.co/jbbsc2A3LH','//t.co/xInOfPUmgr','//t.co/bmm28imSVT','👨\u200d💻','748-0637','//t.co/jroE1Nr8Ny','on.','n','Spotify','🦕','//t.co/Z34HFPVSDv',
'//t.co/bHHS531LhP','今日から職場は全員マスク着用で業務に当たってくださいとのこと。','inane','//t.co/PIMVvPoQfz','//t.co/W0I6OBLRf4',"y'all",'العراق','كل','V-Synth','//t.co/lEBfulItxc',
'تعلن','//t.co/nK2eTJbZtv','//t.co/w2H0b2pJb8','//t.co/zHa1MDZO93','//t.co/4MBbM5oZhH','sarà','//t.co/N4a3MGBDlX','nicky_2901','//t.co/tnlNG7cvvW','11am',
'//t.co/WFjCD7ZEDd','//t.co/TWaBhu9mR4','1,211','//t.co/auB0pVeG7d','//t.co/IdwQ27DdpF','педагог','West','//t.co/YK0qfYUa4R','lorenzozaffiri',
"'leak",'MOBILE】奥さん、子供たちは休校だってね・・じゃぁ奥さんも休家事しちゃいなよ朝活','29/06/2020','//t.co/SClSErn2cj','//t.co/jEz3uc50B2','//t.co/642K4QjWec','psb_dc','//t.co/6DkDQapDkn',
'//t.co/JcFbvMQuNd','SIG','في','محافظة','Phx','dr_ksa12','1:00','//t.co/VecEZfbLma',"'event",'//t.co/qaZ2Zw31jE','//t.co/GVCAyNwcTM','//t.co/xgEEtWzIo4',
'💜🌺🌼🌻🌸','OBD','ユニリーバやコカ・コーラ、スターバックスなどが続々と、大手SNSのヘイトスピーチ対策が不十分だとして広告掲載を当面見合わせ','تماس','OzCybers','seu','+1','//t.co/03kbvwgYSz','//t.co/e8Etr9nFSw',
'//t.co/nRjwRSsmSE','//t.co/LwLqTB0XBI','ny','Ltd','7GTech','18.83','//t.co/rQZphVCP9i','//t.co/AzVDIvUhUE','VS''kwts','//t.co/oYSJtD2Enb','Steph','VideoGamesPlus_','Ayjchan','//t.co/O9htYedxB7',
'10.13','//t.co/ylKXRpYeg4','//t.co/pYnxS9x4a3','//t.co/wAr5TTayEC','//t.co/uZHhHbQ47W','//t.co/zoNpVPXV0a','//t.co/RrOiQza4Nm','//t.co/GidfgfcXKn','🗓️Deadline',
'00:55:38','.As','KarimZeribi','...','//t.co/hta6isohwv','go',"https", "’", "'s", "''", "``", "amp", "n't", "”", "“", "de", "gt", "2020", "'re", "--", "IoT", "'m", "..", 
"–", "en", "...", "‘",'health','amp','http','u','one','get','see','using','know','thing','triage','like','first','self-triage','find','would',
'la','https',"n't",'vid','’','u','fucks','us','use','get','one','de','2020',"”","‘",'see','"','`','health','amp','data','technology',
  'ai','doc','blockchain','care','telehealth','need','monitoring','hospital','people','fuck','healthcare','mobile',
'visit','medicare','via','covid','information','cost','service','telemedicine','say','new','june','must','patient','stay','iot','follow','wearable','digitalhealth',
'take','medium','link','call','sign','access','question','cover','healthtech','make','form','yes','free','dont','ml','self','unit',
'th','based','web','tool','mental','member','imaging','website','list','update','page','minute','social','without','change','ehr','system','virtual','situation','contact','also','time','day','case','app','electronic','tracing'}

stop_1|= add_stopwords1
len(stop_1)

697

In [11]:
add_stopwords2 = {"jo", "el", "record", "never", "lia", "real", "online", "medical", "remote", "eicu", "'s", "=01", "ect" ,
"erro", "digital", "timebig", "melo", "exchange", "back", "cybersecurity", "stop", "sebasti", "bad", "interoperability", "community",
"increased", "psb", "doctor", "porto", "best",
"''" , "``" , "subject" , "enron" , "http" , "cc", "=20" , "e", "help", "risk", "le", "year", "life", "que", "surveillance", "still",
"big", "improve", "work", "even", "mar", "learn", "hit", "campos", "today", "good", "really", "rt", "arraes", "think", "better",
"3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=", "httpstcolycabrr", "issue", "many", "recife", 
"=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d", "10" , "=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=",
"'ll" , "ees" , "'d" , "dbcaps97data" , "'m" , "2/2/2002" , "nd=0604" , "j" , "fw", "turno", "way", "well", "high", "much",
"st" , "06/30/2000" , "2/1/2002" , "fri" , "ct" , "l" , "'ve" , "ena" , "inc." , "pt", "votos", "test", "way", "testing", "lido",
"..." , "=09" , "imceanotes-erin+20richardson+20+3cerichardson+40sarofim+2ecom+3e+40e" , "could", "going", "manuela", "well",
"steffes/na/enron" , "steffes/na/enron" , "st." , "eb" , "pm" , "n't" , "2a04" , "2001" , "enron.com", "margem",
'delete','sheet','may','want','//t.co/v46WvaClFC','Te_Papa','desbfit','abc13houston','Fitbit','//t.co/6HosrKWVRa','WHEW','carmodel','feminists','MnDPS_MSP','CAEHomelessness',
'//t.co/mBmBkmJaiR','//t.co/bruuMFwcOD','Bij','JamesWallmeup','دعم','//t.co/YtcnYfoUyL','iBox','payer','DoingMore4OC','NAF','NCAA','.com','WHODjibouti',
'//t.co/qMjvuQffuM','1_brainyyy','⭕️Take','//t.co/aaF71PHv3X','8500','yoyoel','ノ','hoshinoona','aliens','EPAL','//t.co/SCNEnb6iV7','Une','//t.co/6DRmyhYSOg',
'301-600-1506.','MrDtAFC','//t.co/zCZug3MQlN','//t.co/dKbxVHPsik','06.39','Col·lapse','mind…','//t.co/FjWCPRLiXa','//t.co/i21YoKva5I',"'jigsaw'",'//t.co/65JUgEhRQE',
'//t.co/TZpKoWb25H','10/2','فدوة','//t.co/yUgFHc2dXT','//t.co/B0i8Bag6QI','//t.co/giv5nWtR7s','//t.co/QIrKc2CON5','//t.co/SM9W2a0jg1','pts','//t.co/4r9MKbEFZ8',
'//t.co/kCnhzB8EXK','//t.co/SkywBu1lCG','//t.co/N5SZsMSYdS','2020-06-28','793,411.67','//t.co/4o9CkPHo8d','//t.co/PgtfS1u8Ts','LD','//t.co/f1y1cOT4JL',
'//t.co/BBLT79cP92','bon','//t.co/BBLT79cP92','//t.co/m6ymYVBwNa','app/browser','del','12/13','-via','عبر','op','الخاص','التابعة','slo','2-year','33'
'الفطر','contaminated🤦\u200d♀️','//t.co/uhNTa7tiWE','call...','الحبل','witch','//t.co/iIKMzII3hp','//t.co/ZFdyj2RNXV','تجهز','CHOOZ','لهرمون','XL','tabib1online',
'lomuntu','🙏🏻','//t.co/FpK7srDG6L','GPUs','//t.co/wGr8FARDnt','HIMSSAP','//t.co/eQWmOQRFHx','nya','//t.co/1FVMHg0iH4','11:30:02','5.12','_WWSD_','KIAA1217',
'//t.co/yBHgAHuaAZ','//t.co/MbPJnN7jeM','//t.co/WreWejDRta','gt','//t.co/qpxi4Wvtzi','IHadToSaySmtg','食べたい','PoS','31st','vi','//t.co/4rKRU0DPJ4',
'الدين','이','فيروس_كورونا','intl','F_D_KB','PushpaShivaram','//t.co/OAiYqcY3jS','wphillips49','Osborn','👏👏','escritório','ICECcancer',"''",'تكنيكال',
'//t.co/5w7NoVS5d9','//t.co/WuuKFtqM2b','CH4','//t.co/gfHMy7DOGm','CHEX_Org','//t.co/JZB6Srstfl','//t.co/ceJo84uTbE','//t.co/5yqJFchSj3','JosephCosgrove7',
'//t.co/8Ud5VOPxih','🙃😂','Nibiru024','46H','//t.co/KVeWbxB5Tz','HR2339','Frølund','MWA/MIWC','773-3760','maybe','إصابة','//t.co/RxeIJvWpZm',"'quiet",
'//t.co/MNEwX41VcT','//t.co/jtjSbUuUdC','leelo','//t.co/tATJhcT8Wa','podrás','mc93823939','cbs','toptrader101','OnQuorum','📸','//t.co/cuXatP3cft','//t.co/ALepWlrIp7','doodly_official…',
'ano','›','الشكر','PHCA','//t.co/gAXaNJZokQ','IN14-21DAYS.HE','//t.co/zqfk8IBNrs','4/28','//t.co/5ntCB6YpNh','tipo','//t.co/GmZarlv7Bw','CHI','//t.co/EAv5ShTtJ5','//t.co/9LGAqM0ePB',
'DianaAtwine','FinTech…','LK-05','Maths','//t.co/lR4NTT6ROc','//t.co/svrDN8Fj1e','CSTE','セブン','//t.co/Pl8JYGVZne','1.17','台湾、マスク購入を実名制に','الانبار',
'//t.co/DCTC53Z5wm','//t.co/J0px5qKbFe','ABA','//t.co/QymBvyioCe','//t.co/eYTuhbMUkg','//t.co/HWR6SW0ebL','//t.co/zC8C0FXFPQ','//t.co/e8lSxmERyZ','المختبرية',
'2/Any','//t.co/jbbsc2A3LH','//t.co/xInOfPUmgr','//t.co/bmm28imSVT','👨\u200d💻','748-0637','//t.co/jroE1Nr8Ny','on.','n','Spotify','🦕','//t.co/Z34HFPVSDv',
'//t.co/bHHS531LhP','今日から職場は全員マスク着用で業務に当たってくださいとのこと。','inane','//t.co/PIMVvPoQfz','//t.co/W0I6OBLRf4',"y'all",'العراق','كل','V-Synth','//t.co/lEBfulItxc',
'تعلن','//t.co/nK2eTJbZtv','//t.co/w2H0b2pJb8','//t.co/zHa1MDZO93','//t.co/4MBbM5oZhH','sarà','//t.co/N4a3MGBDlX','nicky_2901','//t.co/tnlNG7cvvW','11am',
'//t.co/WFjCD7ZEDd','//t.co/TWaBhu9mR4','1,211','//t.co/auB0pVeG7d','//t.co/IdwQ27DdpF','педагог','West','//t.co/YK0qfYUa4R','lorenzozaffiri',
"'leak",'MOBILE】奥さん、子供たちは休校だってね・・じゃぁ奥さんも休家事しちゃいなよ朝活','29/06/2020','//t.co/SClSErn2cj','//t.co/jEz3uc50B2','//t.co/642K4QjWec','psb_dc','//t.co/6DkDQapDkn',
'//t.co/JcFbvMQuNd','SIG','في','محافظة','Phx','dr_ksa12','1:00','//t.co/VecEZfbLma',"'event",'//t.co/qaZ2Zw31jE','//t.co/GVCAyNwcTM','//t.co/xgEEtWzIo4',
'💜🌺🌼🌻🌸','OBD','ユニリーバやコカ・コーラ、スターバックスなどが続々と、大手SNSのヘイトスピーチ対策が不十分だとして広告掲載を当面見合わせ','تماس','OzCybers','seu','+1','//t.co/03kbvwgYSz','//t.co/e8Etr9nFSw',
'//t.co/nRjwRSsmSE','//t.co/LwLqTB0XBI','ny','Ltd','7GTech','18.83','//t.co/rQZphVCP9i','//t.co/AzVDIvUhUE','VS''kwts','//t.co/oYSJtD2Enb','Steph','VideoGamesPlus_','Ayjchan','//t.co/O9htYedxB7',
'10.13','//t.co/ylKXRpYeg4','//t.co/pYnxS9x4a3','//t.co/wAr5TTayEC','//t.co/uZHhHbQ47W','//t.co/zoNpVPXV0a','//t.co/RrOiQza4Nm','//t.co/GidfgfcXKn','🗓️Deadline',
'00:55:38','.As','KarimZeribi','...','//t.co/hta6isohwv','go',"https", "’", "'s", "''", "``", "amp", "n't", "”", "“", "de", "gt", "2020", "'re", "--", "IoT", "'m", "..", 
"–", "en", "...", "‘",'health','amp','http','u','one','get','see','using','know','thing','triage','like','first','self-triage','find','would',
'la','https',"n't",'vid','’','u','fucks','us','use','get','one','de','2020',"”","‘",'see','"','`','health','amp','data','technology',
  'ai','doc','blockchain','care','telehealth','need','monitoring','hospital','people','fuck','healthcare','mobile',
'visit','medicare','via','covid','information','cost','service','telemedicine','say','new','june','must','patient','stay','iot','follow','wearable','digitalhealth',
'take','medium','link','call','sign','access','question','cover','healthtech','make','form','yes','free','dont','ml','self','unit',
'th','based','web','tool','mental','member','imaging','website','list','update','page','minute','social','without','change','ehr','system','virtual','situation','contact','also','time','day','case','app','electronic','tracing'}

stop_2|= add_stopwords2
len(stop_2)

704

In [12]:
add_stopwords3 = {"medical", "hit", "surveillance", "remote", "support", "learn", "'s", "=01", "ect" , "''" , "``" , "subject" , 
"enron" , "http" , "cc", "=20" , "e", "eicu", "help", "year", "le", "real", "better", "week", "que", "great", "think", "work",
"3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=", "today", "et", "way", "month", "est", "well", "never"
"=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d", "10" , "=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=3d=",
"'ll" , "ees" , "'d" , "dbcaps97data" , "'m" , "2/2/2002" , "nd=0604" , "j" , "fw", "el", "next", "ne", "pa", "last",
"st" , "06/30/2000" , "2/1/2002" , "fri" , "ct" , "l" , "'ve" , "ena" , "inc." , "pt", "capacity", "improve", "algorithm", 
"..." , "=09" , "imceanotes-erin+20richardson+20+3cerichardson+40sarofim+2ecom+3e+40e" , "good", "never", "join", "team", "si",
"steffes/na/enron" , "steffes/na/enron" , "st." , "eb" , "pm" , "n't" , "2a04" , "2001" , "enron.com", "love", "rafac", "best",
"se", "even", "many", "still","sensor", "really", "pr", "could", "part", "une", "back", "oh",
'delete','sheet','may','want','//t.co/v46WvaClFC','Te_Papa','desbfit','abc13houston','Fitbit','//t.co/6HosrKWVRa','WHEW','carmodel','feminists','MnDPS_MSP','CAEHomelessness',
'//t.co/mBmBkmJaiR','//t.co/bruuMFwcOD','Bij','JamesWallmeup','دعم','//t.co/YtcnYfoUyL','iBox','payer','DoingMore4OC','NAF','NCAA','.com','WHODjibouti',
'//t.co/qMjvuQffuM','1_brainyyy','⭕️Take','//t.co/aaF71PHv3X','8500','yoyoel','ノ','hoshinoona','aliens','EPAL','//t.co/SCNEnb6iV7','Une','//t.co/6DRmyhYSOg',
'301-600-1506.','MrDtAFC','//t.co/zCZug3MQlN','//t.co/dKbxVHPsik','06.39','Col·lapse','mind…','//t.co/FjWCPRLiXa','//t.co/i21YoKva5I',"'jigsaw'",'//t.co/65JUgEhRQE',
'//t.co/TZpKoWb25H','10/2','فدوة','//t.co/yUgFHc2dXT','//t.co/B0i8Bag6QI','//t.co/giv5nWtR7s','//t.co/QIrKc2CON5','//t.co/SM9W2a0jg1','pts','//t.co/4r9MKbEFZ8',
'//t.co/kCnhzB8EXK','//t.co/SkywBu1lCG','//t.co/N5SZsMSYdS','2020-06-28','793,411.67','//t.co/4o9CkPHo8d','//t.co/PgtfS1u8Ts','LD','//t.co/f1y1cOT4JL',
'//t.co/BBLT79cP92','bon','//t.co/BBLT79cP92','//t.co/m6ymYVBwNa','app/browser','del','12/13','-via','عبر','op','الخاص','التابعة','slo','2-year','33'
'الفطر','contaminated🤦\u200d♀️','//t.co/uhNTa7tiWE','call...','الحبل','witch','//t.co/iIKMzII3hp','//t.co/ZFdyj2RNXV','تجهز','CHOOZ','لهرمون','XL','tabib1online',
'lomuntu','🙏🏻','//t.co/FpK7srDG6L','GPUs','//t.co/wGr8FARDnt','HIMSSAP','//t.co/eQWmOQRFHx','nya','//t.co/1FVMHg0iH4','11:30:02','5.12','_WWSD_','KIAA1217',
'//t.co/yBHgAHuaAZ','//t.co/MbPJnN7jeM','//t.co/WreWejDRta','gt','//t.co/qpxi4Wvtzi','IHadToSaySmtg','食べたい','PoS','31st','vi','//t.co/4rKRU0DPJ4',
'الدين','이','فيروس_كورونا','intl','F_D_KB','PushpaShivaram','//t.co/OAiYqcY3jS','wphillips49','Osborn','👏👏','escritório','ICECcancer',"''",'تكنيكال',
'//t.co/5w7NoVS5d9','//t.co/WuuKFtqM2b','CH4','//t.co/gfHMy7DOGm','CHEX_Org','//t.co/JZB6Srstfl','//t.co/ceJo84uTbE','//t.co/5yqJFchSj3','JosephCosgrove7',
'//t.co/8Ud5VOPxih','🙃😂','Nibiru024','46H','//t.co/KVeWbxB5Tz','HR2339','Frølund','MWA/MIWC','773-3760','maybe','إصابة','//t.co/RxeIJvWpZm',"'quiet",
'//t.co/MNEwX41VcT','//t.co/jtjSbUuUdC','leelo','//t.co/tATJhcT8Wa','podrás','mc93823939','cbs','toptrader101','OnQuorum','📸','//t.co/cuXatP3cft','//t.co/ALepWlrIp7','doodly_official…',
'ano','›','الشكر','PHCA','//t.co/gAXaNJZokQ','IN14-21DAYS.HE','//t.co/zqfk8IBNrs','4/28','//t.co/5ntCB6YpNh','tipo','//t.co/GmZarlv7Bw','CHI','//t.co/EAv5ShTtJ5','//t.co/9LGAqM0ePB',
'DianaAtwine','FinTech…','LK-05','Maths','//t.co/lR4NTT6ROc','//t.co/svrDN8Fj1e','CSTE','セブン','//t.co/Pl8JYGVZne','1.17','台湾、マスク購入を実名制に','الانبار',
'//t.co/DCTC53Z5wm','//t.co/J0px5qKbFe','ABA','//t.co/QymBvyioCe','//t.co/eYTuhbMUkg','//t.co/HWR6SW0ebL','//t.co/zC8C0FXFPQ','//t.co/e8lSxmERyZ','المختبرية',
'2/Any','//t.co/jbbsc2A3LH','//t.co/xInOfPUmgr','//t.co/bmm28imSVT','👨\u200d💻','748-0637','//t.co/jroE1Nr8Ny','on.','n','Spotify','🦕','//t.co/Z34HFPVSDv',
'//t.co/bHHS531LhP','今日から職場は全員マスク着用で業務に当たってくださいとのこと。','inane','//t.co/PIMVvPoQfz','//t.co/W0I6OBLRf4',"y'all",'العراق','كل','V-Synth','//t.co/lEBfulItxc',
'تعلن','//t.co/nK2eTJbZtv','//t.co/w2H0b2pJb8','//t.co/zHa1MDZO93','//t.co/4MBbM5oZhH','sarà','//t.co/N4a3MGBDlX','nicky_2901','//t.co/tnlNG7cvvW','11am',
'//t.co/WFjCD7ZEDd','//t.co/TWaBhu9mR4','1,211','//t.co/auB0pVeG7d','//t.co/IdwQ27DdpF','педагог','West','//t.co/YK0qfYUa4R','lorenzozaffiri',
"'leak",'MOBILE】奥さん、子供たちは休校だってね・・じゃぁ奥さんも休家事しちゃいなよ朝活','29/06/2020','//t.co/SClSErn2cj','//t.co/jEz3uc50B2','//t.co/642K4QjWec','psb_dc','//t.co/6DkDQapDkn',
'//t.co/JcFbvMQuNd','SIG','في','محافظة','Phx','dr_ksa12','1:00','//t.co/VecEZfbLma',"'event",'//t.co/qaZ2Zw31jE','//t.co/GVCAyNwcTM','//t.co/xgEEtWzIo4',
'💜🌺🌼🌻🌸','OBD','ユニリーバやコカ・コーラ、スターバックスなどが続々と、大手SNSのヘイトスピーチ対策が不十分だとして広告掲載を当面見合わせ','تماس','OzCybers','seu','+1','//t.co/03kbvwgYSz','//t.co/e8Etr9nFSw',
'//t.co/nRjwRSsmSE','//t.co/LwLqTB0XBI','ny','Ltd','7GTech','18.83','//t.co/rQZphVCP9i','//t.co/AzVDIvUhUE','VS''kwts','//t.co/oYSJtD2Enb','Steph','VideoGamesPlus_','Ayjchan','//t.co/O9htYedxB7',
'10.13','//t.co/ylKXRpYeg4','//t.co/pYnxS9x4a3','//t.co/wAr5TTayEC','//t.co/uZHhHbQ47W','//t.co/zoNpVPXV0a','//t.co/RrOiQza4Nm','//t.co/GidfgfcXKn','🗓️Deadline',
'00:55:38','.As','KarimZeribi','...','//t.co/hta6isohwv','go',"https", "’", "'s", "''", "``", "amp", "n't", "”", "“", "de", "gt", "2020", "'re", "--", "IoT", "'m", "..", 
"–", "en", "...", "‘",'health','amp','http','u','one','get','see','using','know','thing','triage','like','first','self-triage','find','would',
'la','https',"n't",'vid','’','u','fucks','us','use','get','one','de','2020',"”","‘",'see','"','`','health','amp','data','technology',
  'ai','doc','blockchain','care','telehealth','need','monitoring','hospital','people','fuck','healthcare','mobile',
'visit','medicare','via','covid','information','cost','service','telemedicine','say','new','june','must','patient','stay','iot','follow','wearable','digitalhealth',
'take','medium','link','call','sign','access','question','cover','healthtech','make','form','yes','free','dont','ml','self','unit',
'th','based','web','tool','mental','member','imaging','website','list','update','page','minute','social','without','change','ehr','system','virtual','situation','contact','also','time','day','case','app','electronic','tracing'}

stop_3|= add_stopwords3
len(stop_3)

688

In [13]:
stop_1 |= add_stopwords1
stop_2 |= add_stopwords2
stop_3 |= add_stopwords3

In [14]:
tweets_1['punctuations_removed'] = tweets_1['Noun_Extracted_tweets'].apply(lambda y: [item for item in y if item.lower() not in stop_1])
tweets_2['punctuations_removed'] = tweets_2['Noun_Extracted_tweets'].apply(lambda y: [item for item in y if item.lower() not in stop_2])
tweets_3['punctuations_removed'] = tweets_3['Noun_Extracted_tweets'].apply(lambda y: [item for item in y if item.lower() not in stop_3])

In [15]:
tokens_1 = tweets_1['punctuations_removed'].tolist() 
tokens_1 = list(chain(*tokens_1))
tokens_freq_1 = collections.Counter(tokens_1)

In [16]:
tokens_2 = tweets_2['punctuations_removed'].tolist() 
tokens_2 = list(chain(*tokens_2))
tokens_freq_2 = collections.Counter(tokens_2)

In [17]:
tokens_3 = tweets_3['punctuations_removed'].tolist() 
tokens_3 = list(chain(*tokens_3))
tokens_freq_3 = collections.Counter(tokens_3)

In [18]:
tokens_freq_1.most_common(30)

[('exchange', 214),
 ('doctor', 165),
 ('state', 159),
 ('prevention', 158),
 ('life', 144),
 ('sensor', 142),
 ('detection', 132),
 ('team', 130),
 ('disease', 125),
 ('provider', 120),
 ('market', 120),
 ('industry', 118),
 ('world', 117),
 ('population', 116),
 ('business', 113),
 ('program', 113),
 ('company', 106),
 ('recognition', 105),
 ('video', 104),
 ('please', 104),
 ('news', 104),
 ('medicine', 102),
 ('solution', 101),
 ('device', 100),
 ('issue', 100),
 ('study', 98),
 ('death', 98),
 ('country', 97),
 ('database', 97),
 ('virus', 95)]

In [19]:
tokens_freq_2.most_common(30)

[('support', 211),
 ('application', 208),
 ('analytics', 197),
 ('sensor', 179),
 ('coronavirus', 170),
 ('home', 166),
 ('school', 164),
 ('state', 158),
 ('management', 155),
 ('team', 139),
 ('solution', 138),
 ('report', 136),
 ('business', 135),
 ('database', 135),
 ('treatment', 134),
 ('student', 132),
 ('join', 130),
 ('news', 127),
 ('provider', 127),
 ('job', 124),
 ('level', 124),
 ('decision', 122),
 ('week', 118),
 ('detection', 118),
 ('company', 117),
 ('research', 117),
 ('intelligence', 116),
 ('ehealth', 116),
 ('medicine', 116),
 ('program', 115)]

In [20]:
tokens_freq_3.most_common(30)

[('community', 229),
 ('mhealth', 205),
 ('prevention', 185),
 ('management', 185),
 ('application', 181),
 ('record', 169),
 ('decision', 167),
 ('business', 166),
 ('intelligence', 153),
 ('analytics', 148),
 ('home', 146),
 ('vaccine', 146),
 ('cybersecurity', 145),
 ('research', 145),
 ('artificialintelligence', 136),
 ('risk', 135),
 ('interoperability', 124),
 ('market', 122),
 ('revenue', 121),
 ('solution', 121),
 ('industry', 120),
 ('device', 114),
 ('world', 113),
 ('life', 112),
 ('security', 112),
 ('machine', 109),
 ('program', 109),
 ('state', 108),
 ('company', 107),
 ('medicine', 103)]

In [21]:
tweets_1['Final']=tweets_1['punctuations_removed'].apply(lambda x:[word for word in x if len(word)>1])
tweets_2['Final']=tweets_2['punctuations_removed'].apply(lambda x:[word for word in x if len(word)>1])
tweets_3['Final']=tweets_3['punctuations_removed'].apply(lambda x:[word for word in x if len(word)>1])

# Required column to for K-means birt for phase 1

In [22]:
tweets_1['new'] = [" ".join(map(str, l)) for l in tweets_1['Final']]
tweets_1
tweets_1['new'] .reset_index()

      index                                                new
0         0  markov chain generate text generate text sense...
1         1                          everytime post video lmao
2         2  hasanshahbaz twitter ban account enter number ...
3         3  moscow liga recap player mention skrebnev dula...
4         4                                    watch mde month
...     ...                                                ...
6694   6694                   httpstcofypewuizg theofficialacm
6695   6695  sciartexchange facebook garment environment fr...
6696   6696  linkedin httpstcoofvymajsym wearabletech weara...
6697   6697  asu center kind research center ecosystem life...
6698   6698                                                nan

[6699 rows x 2 columns]

In [23]:
tweets_2['new'] = [" ".join(map(str, l)) for l in tweets_2['Final']]
tweets_2
tweets_2['new'] .reset_index()

      index                                                new
0         0  geoffcmason greencpa lisaformaine strategema s...
1         1  night user im root pwn htb hackthebox challang...
2         2  employee home look beef defense worker team go...
3         3  itox imo iiot marketing digitaltransformation ...
4         4          twitter expert smartnews httpstcoyrtwneki
...     ...                                                ...
6918   6918             fahrni window desktop io aggregator io
6919   6919  particle effect stream rip bitrate httpstcoonv...
6920   6920  tour builder text photo video map create exper...
6921   6921  interact business gpn opportunity discus green...
6922   6922                                                nan

[6923 rows x 2 columns]

In [24]:
tweets_3['new'] = [" ".join(map(str, l)) for l in tweets_3['Final']]
tweets_3
tweets_3['new'] .reset_index()

      index                                                new
0         0  hashgraphguide hedera effect type parallel cha...
1         1  threddyrex programmer replacement validator cl...
2         2                     linorulli catholicguyshow doug
3         3                                           everyone
4         4                                  online therapy ad
...     ...                                                ...
6142   6142  platform capability phase watch danfoss smarts...
6143   6143  education industry format trend impact educati...
6144   6144  paper spreadsheet charity membership manager s...
6145   6145  sariazout newsletter podcasts life twitter col...
6146   6146                                                nan

[6147 rows x 2 columns]

In [25]:
documents1 = tweets_1['new'].values
documents2 = tweets_2['new'].values
documents3 = tweets_3['new'].values

In [26]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import KMeans

In [27]:
model = SentenceTransformer('distilbert-base-nli-mean-tokens')
encoded_data1 = model.encode(documents1)
encoded_data2 = model.encode(documents2)
encoded_data3 = model.encode(documents3)

## Phase 1:

In [28]:
km = KMeans(n_clusters = 5, random_state = 22) # Using 5 clusters here
km.fit(encoded_data1)

KMeans(n_clusters=5, random_state=22)

In [29]:
# Define a function to return topic per document 
def doc_topic_id(all_training, km, num_clusters):
    clusters = km.labels_.tolist()
    docs = {'document_text':all_training, 'topic_id':clusters}
    frame = pd.DataFrame(docs, index = [clusters])
    for cluster in range(0, num_clusters):
        this_cluster_text = \
        frame[frame['topic_id'] == cluster]
        all_text = \
        " ".join(this_cluster_text['document_text'].astype(str))
    return frame

In [30]:
tweets_1['new'] = tweets_1['new'].index # Pull out index values into column

topics_bert1 = doc_topic_id(documents1, km, 5) # Create dataframe
topics_bert1 = topics_bert1.set_index(tweets_1['new']) # Assign doc_id from emails
topics_bert1

                                          document_text  topic_id
new
0     markov chain generate text generate text sense...         4
1                             everytime post video lmao         4
2     hasanshahbaz twitter ban account enter number ...         3
3     moscow liga recap player mention skrebnev dula...         4
4                                       watch mde month         2
...                                                 ...       ...
6694                   httpstcofypewuizg theofficialacm         1
6695  sciartexchange facebook garment environment fr...         3
6696  linkedin httpstcoofvymajsym wearabletech weara...         1
6697  asu center kind research center ecosystem life...         1
6698                                                nan         2

[6699 rows x 2 columns]

In [31]:
topics_bert1 = topics_bert1.dropna()

In [32]:
from collections import Counter
from nltk.tokenize import RegexpTokenizer

In [33]:
re_tokenizer = RegexpTokenizer("[\\w']+")
counter = Counter()

In [34]:
# Group by topic and get most frequent 10 words per topic

topics_bert_grouped1 = topics_bert1.groupby(['topic_id'])['document_text'].apply(','.join).reset_index()
topics_bert_grouped1['tokens'] = topics_bert_grouped1['document_text'].apply(re_tokenizer.tokenize)

topics_bert_words1 = []
for i in topics_bert_grouped1['tokens']:
    counter = Counter(i)
    topics_bert_words1.append(counter.most_common(10))

topics_bert_words1 = pd.DataFrame(topics_bert_words1)
topics_bert_words1 = topics_bert_words1.transpose()
topics_bert_words1.columns = ['topic_1', 'topic_2', 'topic_3', 'topic_4', 'topic_5']

topics_bert_words1

,topic_1,topic_2,topic_3,topic_4,topic_5
0,"(death, 93)","(exchange, 147)","(recognition, 22)","(doctor, 99)","(sensor, 38)"
1,"(life, 42)","(market, 56)","(issue, 12)","(team, 77)","(prevention, 36)"
2,"(state, 42)","(provider, 56)","(someone, 10)","(business, 76)","(country, 32)"
3,"(virus, 36)","(industry, 47)","(sensor, 10)","(medicine, 73)","(state, 31)"
4,"(nothing, 35)","(revenue, 42)","(point, 9)","(cancer, 68)","(please, 30)"
5,"(lack, 30)","(disease, 37)","(person, 9)","(research, 66)","(number, 29)"
6,"(world, 29)","(intelligence, 36)","(number, 8)","(video, 66)","(decision, 29)"
7,"(rate, 29)","(solution, 36)","(lot, 8)","(sensor, 64)","(exchange, 29)"
8,"(infection, 28)","(hie, 36)","(please, 8)","(prevention, 63)","(team, 28)"
9,"(country, 27)","(platform, 35)","(decision, 8)","(news, 62)","(population, 28)"

## Phase 2:

In [35]:
km = KMeans(n_clusters = 5, random_state = 22) # Using 5 clusters here
km.fit(encoded_data2)

KMeans(n_clusters=5, random_state=22)

In [36]:
tweets_2['new'] = tweets_2['new'].index # Pull out index values into column

topics_bert2 = doc_topic_id(documents2, km, 5) # Create dataframe
topics_bert2 = topics_bert2.set_index(tweets_2['new']) # Assign doc_id from emails
topics_bert2

                                          document_text  topic_id
new
0     geoffcmason greencpa lisaformaine strategema s...         1
1     night user im root pwn htb hackthebox challang...         4
2     employee home look beef defense worker team go...         1
3     itox imo iiot marketing digitaltransformation ...         1
4             twitter expert smartnews httpstcoyrtwneki         4
...                                                 ...       ...
6918             fahrni window desktop io aggregator io         4
6919  particle effect stream rip bitrate httpstcoonv...         4
6920  tour builder text photo video map create exper...         1
6921  interact business gpn opportunity discus green...         1
6922                                                nan         0

[6923 rows x 2 columns]

In [37]:
topics_bert2 = topics_bert2.dropna()

In [38]:
re_tokenizer = RegexpTokenizer("[\\w']+")
counter = Counter()

In [39]:
# Group by topic and get most frequent 10 words per topic

topics_bert_grouped2 = topics_bert2.groupby(['topic_id'])['document_text'].apply(','.join).reset_index()
topics_bert_grouped2['tokens'] = topics_bert_grouped2['document_text'].apply(re_tokenizer.tokenize)

topics_bert_words2 = []
for i in topics_bert_grouped2['tokens']:
    counter = Counter(i)
    topics_bert_words2.append(counter.most_common(10))

topics_bert_words2 = pd.DataFrame(topics_bert_words2)
topics_bert_words2 = topics_bert_words2.transpose()
topics_bert_words2.columns = ['topic_1', 'topic_2', 'topic_3', 'topic_4', 'topic_5']

topics_bert_words2

,topic_1,topic_2,topic_3,topic_4,topic_5
0,"(station, 12)","(coronavirus, 117)","(death, 101)","(sensor, 63)","(analytics, 117)"
1,"(support, 9)","(school, 106)","(coronavirus, 44)","(capacity, 45)","(management, 75)"
2,"(person, 9)","(student, 101)","(mask, 40)","(support, 42)","(application, 70)"
3,"(sensor, 9)","(medicine, 95)","(nothing, 36)","(decision, 37)","(solution, 69)"
4,"(someone, 8)","(application, 89)","(emergency, 36)","(part, 31)","(population, 66)"
5,"(let, 8)","(home, 86)","(home, 35)","(number, 30)","(market, 66)"
6,"(algorithm, 8)","(job, 85)","(news, 34)","(state, 29)","(provider, 64)"
7,"(decision, 7)","(join, 84)","(trump, 33)","(level, 28)","(support, 62)"
8,"(recognition, 7)","(team, 80)","(report, 32)","(database, 26)","(intelligence, 58)"
9,"(fact, 7)","(support, 80)","(problem, 31)","(person, 25)","(platform, 52)"

## Phase 3:

In [40]:
km = KMeans(n_clusters = 5, random_state = 22) # Using 5 clusters here
km.fit(encoded_data3)

KMeans(n_clusters=5, random_state=22)

In [41]:
tweets_3['new'] = tweets_3['new'].index # Pull out index values into column

topics_bert3 = doc_topic_id(documents3, km, 5) # Create dataframe
topics_bert3 = topics_bert3.set_index(tweets_3['new']) # Assign doc_id from emails
topics_bert3

                                          document_text  topic_id
new
0     hashgraphguide hedera effect type parallel cha...         2
1     threddyrex programmer replacement validator cl...         4
2                        linorulli catholicguyshow doug         2
3                                              everyone         0
4                                     online therapy ad         1
...                                                 ...       ...
6142  platform capability phase watch danfoss smarts...         2
6143  education industry format trend impact educati...         1
6144  paper spreadsheet charity membership manager s...         4
6145  sariazout newsletter podcasts life twitter col...         4
6146                                                nan         0

[6147 rows x 2 columns]

In [42]:
topics_bert3 = topics_bert3.dropna()

In [43]:
re_tokenizer = RegexpTokenizer("[\\w']+")
counter = Counter()

In [44]:
# Group by topic and get most frequent 10 words per topic

topics_bert_grouped3 = topics_bert3.groupby(['topic_id'])['document_text'].apply(','.join).reset_index()
topics_bert_grouped3['tokens'] = topics_bert_grouped3['document_text'].apply(re_tokenizer.tokenize)

topics_bert_words3 = []
for i in topics_bert_grouped3['tokens']:
    counter = Counter(i)
    topics_bert_words3.append(counter.most_common(10))

topics_bert_words3 = pd.DataFrame(topics_bert_words3)
topics_bert_words3 = topics_bert_words3.transpose()
topics_bert_words3.columns = ['topic_1', 'topic_2', 'topic_3', 'topic_4', 'topic_5']

topics_bert_words3

,topic_1,topic_2,topic_3,topic_4,topic_5
0,"(decision, 28)","(mhealth, 100)","(risk, 46)","(prevention, 56)","(community, 100)"
1,"(something, 14)","(management, 95)","(decision, 44)","(death, 50)","(business, 94)"
2,"(station, 12)","(cybersecurity, 82)","(interoperability, 39)","(decision, 45)","(research, 87)"
3,"(recognition, 10)","(analytics, 80)","(prevention, 36)","(risk, 38)","(medicine, 84)"
4,"(intelligence, 9)","(application, 78)","(record, 35)","(record, 34)","(student, 78)"
5,"(let, 8)","(community, 78)","(issue, 28)","(problem, 31)","(science, 77)"
6,"(feel, 8)","(revenue, 73)","(level, 28)","(disease, 31)","(artificialintelligence, 72)"
7,"(tweet, 7)","(solution, 71)","(something, 27)","(country, 29)","(vaccine, 71)"
8,"(please, 6)","(intelligence, 67)","(home, 26)","(doctor, 27)","(mhealth, 68)"
9,"(future, 6)","(provider, 64)","(life, 26)","(issue, 27)","(application, 63)"